html {

  --color-dark: #333;
  --color-light: #fff;
  --color-light-1: #FDFDFD;

  --color-gray: #76787D;
  --color-light-gray-1: #E9ECEF;
  --color-light-gray-2: #E0E0E0;

  --color-red: #E31F24;

  --border-radius-default: 10px;
  --border-radius-small: 8px;
  --transition-default: 500ms ease;
  --box-shadow-default: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}