html {
  --color-dark: #333;
  --color-light: #fff;
  --color-light-1: #fdfdfd;

  --color-gray: #76787d;
  --color-light-gray-1: #e9ecef;
  --color-light-gray-2: #e0e0e0;

  --color-red: #e31f24;

  --border-radius-default: 10px;
  --border-radius-small: 8px;
  --transition-default: 500ms ease;
  --box-shadow-default: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
